@import 'flowbite/dist/flowbite.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FuturaHvBT';
    src: url('src/assets/fonts/FuturaHeavyBT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }